@model PersonalPlayGround.RecipeData.Recipe

@{
    ViewBag.Title = "GetRecipeById";

    PersonalPlayGround.RecipeData.Recipe recipe = Model;
}


@if(ViewBag.ShowConfetti)
{
    <head>
        <link id="confettiStylesheet" rel="stylesheet" type="text/css" href="~/Content/Confetti/Confetti.css" />
    </head>

    <div id="removeBackground"></div>
}

<body>
    <div class="container">
        <h2 class="display-4 text-center">@Model.Name</h2>

        <p class="lead">
            @Model.Description
        </p>
    </div>

    <div class="container">
        <img src="@Url.Content(Model.ImageURL)" alt="text" width="100%" height="660px">
    </div>

    <div class="container">
        <h2 class="display-2 text-center">Reviews</h2>

        @if (recipe.Ratings.Count > 0)
        {
            <div>
                <h6 class="display-6">Average Rating: @Math.Round(recipe.Ratings.Average(r => r.Rating))</h6>
            </div>
        }

        @foreach (PersonalPlayGround.RecipeReviewData.RecipeReview review in recipe.Ratings)
        {

            <div class="card text-center">

                <div class="card-header">
                    @review.Client.Name
                </div>

                <div class="card-body">
                    <h5 class="card-title">@review.Rating</h5>
                    <p class="card-text">@review.Review</p>

                    @if (review.Client.UserName == User.Identity.Name)
                    {
                        <a href="@Url.Action("UpdateRecipeReview", "RecipeReview", new { recipeReviewId = review.RecipeReviewId })" class="btn btn-outline-dark">Edit Review</a>
                    }
                </div>

                <div class="card-footer text-muted">
                    @review.ReviewDate
                </div>

            </div>
            <br />
        }
    </div>

    @if (!ViewBag.ClientLeftReview)
    {
        <div class="container">
            <a class="btn btn-outline-success" href="@Url.Action("AddRecipeReview", "RecipeReview", new { recipeId = Model.Id})">Add Review</a>
        </div>
    }
</body>

@if(ViewBag.ShowConfetti)
{
    <!-- Container to render React app -->
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/Scripts/React-Components/Confetti.jsx")"></script>

    <script>
        ReactDOM.render(
            React.createElement(Confetti, {}), document.getElementById('removeBackground')
        );
    </script>
}

