@model List<PersonalPlayGround.RecipeData.Recipe>

@{
    string action = ViewData["Action"] as string;
}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model)
        {
            <tr>
                <th scope="row">@recipe.Id</th>
                <td>@recipe.Name</td>
                <td>@recipe.Description</td>

                @if (action.Equals("Update"))
                {
                    <td>
                        <a href="@Url.Action("UpdateRecipe", "Admin", new { recipeId = recipe.Id })" class="btn btn-outline-primary">Update</a>
                    </td>
                }

                @if (action.Equals("Delete"))
                {
                    <td>
                        <a href="@Url.Action("DeleteRecipe", "Admin", new { recipeId = recipe.Id })"
                           onclick="return confirm('Are you sure you want to delete this recipe?')"
                           class="btn btn-outline-danger">
                            Delete
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
