@model List<PersonalPlayGround.RecipeData.Recipe>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model)
        {
            <tr scope="row">
                <td class="col">@recipe.Id</td>
                <td class="col-3">@recipe.Name</td>
                <td class="col-6">@recipe.Description</td>

                <td class="col-2">
                    <a href="@Url.Action("UpdateRecipe", "Admin", new { recipeId = recipe.Id })" class="btn btn-outline-primary">Update</a>

                    <a href="@Url.Action("DeleteRecipe", "Admin", new { recipeId = recipe.Id })"
                       onclick="return confirm('Are you sure you want to delete this recipe?')"
                       class="btn btn-outline-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
